.edit-profile-container .form-group {
  margin-bottom: 15px;
}

.edit-profile-container .form-label {
  font-family: "Poppins-Bold";
  font-size: 17px;
  font-weight: 700;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
}

.edit-profile-container input,
.edit-profile-container select,
.edit-profile-container textarea {
  padding: 12px !important;
  color: #959eae !important;
}


.upload-pic {
    position: absolute;
    left: 60%;
    top: 44%;
}
.desc-avatar {
    font-size: 15px;
    color: #7C7C7C;
}

.edit-profile-container .form-control:focus , .edit-profile-container .form-select:focus{
  background-color: #fff!important;
  border-color: #8468f5!important;
  outline: 0!important;
  box-shadow: none!important;
}

::file-selector-button {
    display: none;
  }


  .upload-pic-avatar {
    width: 46px;
    height: 46px;
    border-radius: 100%;
    position: absolute;
    left: 60%;
    top: 44%;
    z-index: 1;
    opacity: 0;
    cursor: pointer;
  }


  .max-w20 {
    max-width: 20%;
  }