.primary-button {
	background: linear-gradient(250.46deg, #8468f5 72.09%, #ec74e7 352.57%);
  color: #ffffff;
  border: #8468f5;
  opacity: 0.9;
}
.secondary-button {
	background: rgba(255, 255, 255, 0.3);
  color: #8468F5;
}

.secondary-button,
.primary-button {
	font-family: "Inter-Regular";
	font-size: 16px;
	line-height: 19px;
	letter-spacing: 0.270833px;
	border-radius: 16.9px;
	padding: 10px 32px;
}

.primary-button:focus {
	color: #fff;
	background-color: #8468f5;
	border-color: #8468f5;
	box-shadow: none !important;
}

.primary-button:hover {
	opacity: 1;
}
