.primary-text {
	color: #8468f5;
}
.primary-text a {
	color: #8468f5;
	text-decoration: none;
}
.background-container {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	min-height: 100vh;
	background-image: url("../assets/img/main-bg.svg");
	background-size: cover;
	background-position: center center;
	z-index: 0;
	background-repeat: no-repeat;
}

.custom-card {
	background: #ffffff;
	box-shadow: 0px 4px 21px rgba(0, 0, 0, 0.18);
	border-radius: 76px;
	border: 0;
	max-width: 898px;
}

.custom-card .custom-footer {
	padding-top: 15px;
	background: white!important;	
}

.dashboard-content {
	width:calc(100% - 250px)
}