.main-nav {
  z-index: 1;
}
.main-nav .nav-link {
  margin-right: 15px;
  font-size: 16px;
  font-family: "Inter-Regular";
}

.main-nav .nav-link.active {
  color: #2d46b9 !important ;
}

.main-nav .nav-link:nth-child(5) {
  margin-left: 25px;
  margin-right: 0px !important;
}

/* Small devices (landscape phones, 576px and up)*/

@media (max-width: 978px) {
  .main-nav {
    background: #ffff;
  }
  .main-nav .navbar-nav {
    margin-top: 15px;
  }
  .main-nav .nav-link {
    margin-right: 0px;
  }

  .main-nav .nav-link:nth-child(5) {
    margin-left: 0px;
  }
}
